html {
	font-size: 1.25rem;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: courier prime, monospace;
}

main {
	min-height: 80vh
}

p {
	line-height: 1.6
}

h1 {
	margin: 0.5rem 0 0 0;
	color: #009d00;
}

h1 a {
	all: unset;
	cursor: pointer;
	font-weight: bold;
}

h2 {
	color: #009d00;
}

h2 a {
	all: unset;
	text-decoration-line: underline;
	text-decoration-thickness: 0.1em;
}

h3 {
	color: #009d00;
}

h3 a {
	all: unset;
	cursor: pointer;
	text-decoration-line: underline;
	text-decoration-thickness: 0.1em;
}

.main-text ul, .main-text ol {
	margin: 0.5em 0 1em 0;
	padding: 0 0 0 1em;
	line-height: 1.6;
}

code, #playground-output, #playground-input{
	font-family: courier, monospace;
}

.license {
	color: grey;
	font-size: 0.8rem;
	margin: 0.2rem 0;
}

.nav-bar {
	padding: 0.4rem 0;
	display: flex;
	flex-wrap: wrap;
	border-top: solid #ececec;
	border-bottom: solid #ececec;
}

.nav-bar p {
	font-size: 1.2rem;
	margin: 0 1rem 0 0;
	font-weight: bold;
	text-decoration-line: underline;
	color: #009d00;
}

.nav-bar p a {
	all: unset;
	cursor: pointer;
}

.main-wrapper {
	margin: 0rem 2.5%;
}

.wrapper {
	margin: 1rem 0 0 0;
}

.wrapper h2 {
	margin: 0.2rem 0;
}

.main-text p {
	margin: 0.5em 0 1em 0;
}

.main-text p + p{
	text-indent: 4ch;
}

.block-item {
	margin: 1rem 0 0 0;
}

.block-item p {
	margin: 0.4rem 0rem;
	padding: 0.2rem;
	background-color: #ececec;
}

.container {
	margin: 1rem;
}

.list {
	margin: 0.5rem 1rem;
}

.image-gallery {
	display: grid;
	grid-template-columns: 100%;
}

.h-search {
	cursor: pointer;
}

img {
	width: 100%;
}

footer {
	margin: 1rem 0;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
	margin: 0 0vw 0 0vw;
  font-size: 0.8rem;
	margin: auto;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 5px 4px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

@media(min-width: 600px) {
	.main-wrapper {
		margin: 0 10%
	}
}

@media(min-width: 800px) {
	.main-wrapper {
		margin: 0 15%
	}
}

@media(min-width: 1000px) {
	.main-wrapper {
		margin: 0 20%
	}
}

@media(min-width: 1200px) {
	.main-wrapper {
		margin: 0 24%;
	}

	.image-gallery {
		grid-template-columns: 50% 50%;
	}

	#search_options {
		grid-template-columns: 33% 33% 33%;
	}

	footer {
		margin: 1rem 0;
	}
}

@font-face {
	font-family: "courier prime";
	font-style: normal;
	font-weight: normal;
	src: url("./courier_prime/CourierPrime-Regular.ttf");
}

@font-face {
	font-family: "courier prime";
	font-style: normal;
	font-weight: bold;
	src: url("./courier_prime/CourierPrime-Bold.ttf");
}

@font-face {
	font-family: "courier prime";
	font-style: italic;
	font-weight: normal;
	src: url("./courier_prime/CourierPrime-Italic.ttf");
}

@font-face {
	font-family: "courier prime";
	font-style: italic;
	font-weight: bold;
	src: url("./courier_prime/CourierPrime-BoldItalic.ttf");
}
